.container{
    text-align: center;
    margin-top: 5px;
}

table{
    margin: auto;
}

input{
    font-size: 30px;
    border: 5px solid black;
    border-radius: 5px;
}

button{
    font-size: 25px;
    background-color: greenyellow;
    width: 91px;
    height: 45px;
    border-radius: 5px;
}

.calculator{
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;

}